<!DOCTYPE html>
<html>

<head>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta charset="UTF-8">

    <title>MHF Admin</title>
    <link rel="stylesheet" href="/CSS/admin.css">
</head>

<body class="admin">

    <div id="menuItem" class="menu-items">
        <button id="btnP" onclick="location.href='/p'">Profile</button>
        <button id="btnE" onclick="location.href='/e'">Edit</button>
        <button onclick="location.href='/h'">Medication History</button>
        <button id="btnGM" onclick="location.href='/gm'">Guardian message</button>
        <button onclick="location.href='/logout'">Logout</button>
    </div>

    <div class="admin-dashboard">
            <div class="info-card">
                <h3>Total Users</h3>
                <p id="totalUsers">0</p>
            </div>
        <div class="info-card">
            <h3>Total Children</h3>
            <p id="totalChildren">0</p>
        </div>
            <div class="info-card">
                <h3>Total Guardians</h3>
                <p id="totalGuardians">0</p>
            </div>
        <div class="info-card">
            <h3>Total Medications</h3>
            <p id="totalMedications">0</p>
        </div>
    </div>
    
    <div class="admin-query-box">
        <h2>Database Query Panel</h2>
        <textarea id="sqlQueryInput" placeholder="Write your SQL query here..."></textarea>   
        <button id="runQueryBtn">Run Query</button>
        <div id="queryResultBox">
            <pre id="queryResult"></pre>
        </div>
    
    </div>
    <script src="/JS/admin/adminPage.js"></script>
    <script src="/JS/menu.js"></script>
</body>

</html>