<!DOCTYPE html>
<html>

<head>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta charset="UTF-8">
    
    <title>My healthy family</title>
    <link rel="stylesheet" href="LoginPage.css">
</head>

<body>
    <h1>Chane your password</h1>
    <div id="input">
        <p>Enter the details</p>
        <form action="/changePass" method="post">
            <input type="text" id="name" name="name" placeholder="Nickname"></input><br>
            <input type="text" id="lname" name="lname" placeholder="Last name"></input><br>
            <input type ="email" id="email" name="email" placeholder="Email"></input><br>
            <input type="password" id="pass1" name="pass1" placeholder="Old password"></input><br>
            <input type="password" id="pass2" name="pass2" placeholder=" New password."></input><br>
            <button type="submit">Change yor password</button>
        </form>
    </div>
</body>

</html>