<!DOCTYPE html>
<html>

<head>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta charset="UTF-8">

    <title>MHL Edit</title>
    <link rel="stylesheet" href="css/edit.css">
</head>

<body>
    <!--טבלת עריכה ומחיקת מסימות-->
    <div class="menu">
        <button id="menueBtn">Menu</button>

        <div id="menuItem" class="menu-items">
            <button id="btnP" onclick="location.href='/p'">Profile</button>
            <button id="btnE" onclick="location.href='/e'">Edit</button>
        </div>
    </div>
    <div id="tableBox">
        <p>
            You can change the dosage and medication time here by clicking the Edit button.<br>
            You can also delete the task by clicking the Delete button.
        </p>
        <table border="1">
            <tr>
                <th>Relative</th>
                <th>Medication</th>
                <th>Dosage</th>
                <th>Time to get</th>
                <th>Guardian</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tbody id="logsTableBody"></tbody>
        </table>
    </div>
    <hr>
    <!--בחירת תרופה ומחיקתה-->
    <div id="deleteMedicationBox">
        <p>Delete medication</p>
        <select id="medicationToDelete">
            <option value="" disabled selected hidden>Select Medication</option>
        </select>
        <button onclick="deleteMedication()">Delete Medication</button>
    </div>
    <hr>
    <script src="/JS/edit.js"></script>
    <script src="/JS/menu.js"></script>
</body>

</html>