<!DOCTYPE html>
<html>

<head>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta charset="UTF-8">
    
    <title>My healthy family</title>
    <link rel="stylesheet" href="LoginPage.css">
</head>

<body>
    <h1>Welcom to MHF web log page</h1><!--My Healthy Family-->
    <div id="createAccount">
        <button id="regbutt" onclick="window.location.href='/register'"> Create Account </button>
    </div>
    <div id="input">
        <p>pleas put your nicname and your password</p>
        <form action="/" method="post">
            <input type="text" id="nickname" name="nickname" placeholder="Nickname"></input><br>
            <input type="password" id="pass" name="pass" placeholder="Password"></input><br>
            <button type="submit">Send</button>
        </form>
    </div>

    <script src="LoginPage.js"></script>
</body>

</html>