<!DOCTYPE html>
<html>
    <head>
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta charset="UTF-8">

        <title>MHLProfile</title>

    </head>
    <body>
        <h2 id="hello"></h2><br>
        <!--כפטור ליצרת ילד או בן משפחה-->
        <button id="createRelative">Create relative</button>

        <!-- טבלה להכנסת ילד או בן משפחה-->
        <table id="relativeTable" border="1" style="display:none;">
                <tr>
                    <th>Child Name</th>
                    <th>Save</th>
                </tr>
            <tbody id="relativeTableBody"></tbody>
        </table><br><br>
        <!--טבלת המציגה את הנתונים של בן המשפחה והתרופה-->
        <table border="1">
                <tr>
                    <th>Child</th>
                    <th>Medication</th>
                    <th>Dosage</th>
                    <th>Given By</th>
                    <th>Mail Sent</th>
                    <th>Given At</th>
                </tr>
            <tbody id="logsTableBody"></tbody>
        </table>

        <script src="JS/profile.js"></script>
    </body>
</html>