<!DOCTYPE html>
<html>
    <head>
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta charset="UTF-8">

        <title>Register to MHF</title>
        <link rel="stylesheet" href="Register.css">
    </head>
    <body>
        <h1><p>Welcome to the registration page.<br>
            We hope you enjoy what we have to offer.</p></h1>
            <form method="POST" action="/register">
                <input name="name" id="name" type="text" placeholder="First name" required></input><br>
                <input name="last" id="ln" type="text" placeholder="Last Name" required></input><br>
                <input name="email" id="em" type="email" placeholder="Email" required></input><br>
                <input name="pass" id="pass" type="password" placeholder="Password" minlength="6" required><br>
                <button type="submit" >Sign up</button>
              </form>
    </body>
</html>